Package: com.sferrini
Name: HelloTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Simone Ferrini
Author: Simone Ferrini
Section: Tweaks
